<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <% if (current_user) %>
      <div class="product-reviews">
        <div class="row"><h2>Leave a Review</h2></div>
        <div class="row product-reviews__write">
          <%= form_for [@product, @review] do |f| %>
          <% if f.object.errors.any? %>
            <div class="alert alert-danger">
              <strong>The following errors prevented saving your review:</strong>
              <ul>
                <% f.object.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="col-sm-3">
            <h3>Rating</h3>
            <%= f.select :rating, [1, 2, 3, 4, 5]%>
          </div>
          <div class="col-sm-6">
            <h3>Description</h3>
            <%= f.text_field :description %>
          </div>
          <div class="col-sm-3 product-reviews__submit">
            <%= f.submit "Leave Review!" %>
          </div>
          <% end %>
        </div>
      <% end %>

      <% if !@product.reviews.empty? %>
        <div class="row"><h2>Reviews</h2></div>
        <div class="row">
          <div class="col-sm-3"><h3>Rating</h3></div>
          <div class="col-sm-9"><h3>Description</h3></div>
        </div>
        <div class="row">
          <div class="col-sm-3"><h4>Average <%= @product.average_rating.round(1) %></h4></div>
        </div>
        <% @product.reviews.each do |review| %>
          <div class="row product-reviews__review">
            <div class="col-sm-3">
              <h3><%= review.rating %>/5</h3>
            </div>
            <% if current_user == review.user %>
              <div class="col-sm-7">
                <p><%= review.description %></p>
              </div>
              <div class="col-sm-2">
                <%= form_tag(review, method: "delete") do %>
                  <%= submit_tag("Delete") %>
                <% end %>
              </div>
            <% else %>
              <div class="col-sm-9">
                <p><%= review.description %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="row" style="text-align: center; margin-top: 2em;"><h4>No Reviews Yet..</h4></div>
      <% end %>
    </div>

  </article>

</section>
